<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hichujian.dao.PPraiseDAO">
    <insert id="insert" parameterType="PPraise">
    	INSERT INTO `ppraise` (`user_id`, `post_id`, `praise_time`) 
    	VALUES (#{userId}, #{postId}, SYSDATE());
    </insert>
    
    <!-- 返回值类型为boolean 时、只有结果为1是转为true、其他值一律转为false -->
    <select id="queryIsExists" resultType="_boolean">
        SELECT COUNT(*) FROM `ppraise` 
        WHERE `user_id`=#{userId} AND `post_id`=#{postId}
    </select>
    
    <delete id="delete" parameterType="_boolean">
        DELETE FROM `ppraise` 
        WHERE `user_id`=#{userId} AND `post_id`=#{postId}
    </delete>
</mapper>